.table-head {
    font-size: 2rem;
}

.row-todo {
    font-size: 1.2rem;
}

.row-todo:hover {
    background-color: lightgrey;
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 800px;
    height: 600px;
    margin-right: -30%;
    transform: translate(-50%, -50%);
    background-color: dark;
}

.modal-input {
    border: hidden;
}

.modal-input:focus {
    outline: none;
}

.row-input {
    position: absolute;
    flex: content;
    left: auto;
    bottom: 30px;
}
#todo-input {
    width: 1000px;
    height: 40px;
    float: left;
    background-color: azure;
}
.add-button {
    width: 100px;
    margin-left: 10px;
}